# For frontend
export PRIVATE_API_ENDPOINT=
export NEXT_PUBLIC_API_ENDPOINT=
export NEXT_PUBLIC_MINIO_ENDPOINT=
export NEXT_PUBLIC_MINIO_PAGE_BUCKET=
export NEXT_PUBLIC_MINIO_THUMBNAIL_BUCKET=
# For api
export MINIO_ENDPOINT=
export MINIO_ACCESS_KEY=
export MINIO_SECRET_KEY=
export MINIO_PAGE_BUCKET=
export MINIO_THUMBNAIL_BUCKET=
export MONGODB_HOST=
export MONGODB_PORT=
export MONGODB_DB=
# For deployment
export DEPLOY_HOST=
export DEPLOY_USER=
export DEPLOY_PASSWORD=
export DEPLOY_DIR=