node_modules

# minio
data

/api/dist/*
!/api/dist/.keep
/frontend/dist/*
!/frontend/dist/.keep

/api/import/*
!/api/import/.keep
/api/tmp/*
!/api/tmp/.keep

/deploy/tmp/*
!/deploy/tmp

tmp/*
!tmp/.keep

/frontend/.cache/*

.envrc
.envrc.production

docker-compose.yml
deploy/