.readerMenu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.menuList {
  top: 6rem;
}

.menuItem {
  color: white;
}

.menuIcon {
  color: white;
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
}

.listItemText {
  font-size: 3rem;
  color: white;
}

.closeButton {
  position: absolute;
  top: 6rem;
  right: 6rem;
  width: 8rem;
  height: 8rem;
}

.closeButtonIcon {
  color: white;
  width: 8rem;
  height: 8rem;
}

.closeButton:hover {
  background-color: rgba(255, 255, 255, 0.6)
}
